* {
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
}

/* Header style */

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    position: fixed;
}

.header_logo_container {
    display: flex;
    align-items: center;
    width: 20%;
}

.header_logo_div {
    margin-right: 5%;
    padding: 5% 0%;
}

.header_logo {
    height: 6vh;
    width: auto;
    border-radius: 50%;
    border: 3px solid #818181;
}

.header_sentence_los {
    color: #344D67;
}
.header_sentence_mount {
    color: #747474;
}
.header_link_container {
    width: 25%;
    display: flex;
    justify-content: space-around;
}

.header_link {
    color: #747474;
}

@media (max-width: 600px) {
    .header_link {
     font-size: 16px; } 
     .header_link_container {
        width: 50%;
        display: flex;
        justify-content: space-around;
    }
    .header_sentence_box {
        display: none;
    }
}

/* Contents style */

.contents_container {
    width: 100%;
}

/* Top part style */

.top_back_image {
    width: 100%;
}
.top_container {
    background-image: url(./Images/image_main_back.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top_header_box {
    padding: 20% 0%;
}

.top_header_los {
    color: #747474;
    font-size: 80px;
    font-weight: bold;
}

.top_header_mount {
    color: #344D67;
    font-size: 80px;
    font-weight: bold;
}

@media (max-width: 600px) {

    .top_header_box {
        padding: 40% 0%;
    }
    .top_header_los {
        color: #747474;
        font-size: 40px;
        font-weight: bold;
    }
    
    .top_header_mount {
        color: #344D67;
        font-size: 40px;
        font-weight: bold;
    }
}

/* History part style */

.history_container {
    background-image: url(./Images/image_history_back.jpg);
    background-size: cover;
}

.history_header_container {
    display: flex;
    margin-left: 25%;
    padding-top: 3%;
}

.history_sentence_01 {
    font-size: 8rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}

.history_sentence_history {
    color: #344D67;
    font-size: 2rem;
    margin-top: 45%;
}

.history_sentence_square {
    background-color: rgba(0, 0, 0, 0.5);
    width: 20px;
    height: 20px;
}

.history_sentence_main {
    padding: 0% 30%;
}

@media (max-width: 600px) { 
    .history_sentence_main {
        padding: 0% 15%;
    }
    .history_header_container {
        display: flex;
        margin-left: 15%;
        padding-top: 3%;
    }
}

/* History part for carousel style */


.carousel_container {
    background-color: rgba(52, 77, 103, 0.5);
}

.carousel_contents {
    width: 90%;
    margin: 15% 5% 0% 5%;
    
}

.carousel_image {
    width: 100%;
    height: auto;
    margin-top: 15%;
    margin-bottom: 5%;
}

.carousel_contents .slick-slide {
    margin:0 10px;
}

.slick-prev, 
.slick-next {
    position: absolute;
    top: 42%;
    cursor: pointer;
    outline: none;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    height: 15px;
    width: 15px;
}

.slick-prev {
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {
    right: -1.5%;
    transform: rotate(45deg);
}

.slick-dots {
    text-align:center;
	margin:20px 0 0 0;
}

.slick-dots li {
    display:inline-block;
	margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;
    height:8px;
    display:block;
    border-radius:50%;
    background:#ffffff;
}

.slick-dots .slick-active button{
    background:#333333;
}

/* Climb part style */

.climb_introduction {
    padding: 3% 20% 3% 10%;
}

.climb_header_container {
    display: flex;
    margin-left: 25%;
    align-items: center;
}

.climb_02_header_part {
    display: flex;
}

.climb_sentence_02 {
    font-size: 8rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}

.climb_sentence_container {
    margin-top: 25%;
}

@media (max-width: 600px) { 
    .climb_introduction {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3% 15%;
    }
    .climb_header_container {
        display: block;
        margin: 0%;
    }

    .climb_sentence_container {
        margin-top: 15%;
    }
}

.climb_sentence_climb {
    color: #344D67;
    font-size: 2rem;
}

.climb_sentence_square {
    background-color: rgba(0, 0, 0, 0.5);
    width: 20px;
    height: 20px;
}

.climb_sentence_side {
    margin-left: 5%;
}



.climb_container {
    background-image: url(./Images/image_climb_back.jpg);
    background-size: cover;
    height: 80vh;
}

/* Tab style */

.tab {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  margin-left: 20%;
}

.tab_input {
  position: absolute;
  opacity: 0; }

.tab_label {
  width: auto;
  padding: 20px 30px;
  background: #e5e5e5;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  color: #7f7f7f;
  margin-bottom: 0;
  transition: background 0.1s, color 0.1s; 
}

.tab_label:hover {
  background: #d8d8d8; }

.tab_label:active {
  background: #ccc; }

.tab_input:checked + .tab_label {
  background: #818181;
  color: #344D67; }

@media (max-width: 600px) {
  .tab_label {
    width: 60% } }

.tab_panel {
  display: none;
  background: rgba(255, 255, 255, 0.5); 
  margin-top: 5%;
  padding: 5% 5%;
  width: 300px;
  order: 99;
}

@media (max-width: 600px) {
  .tab_panel {
    width: 200px;
    order: 0;
} }
.tab_input:checked + .tab_label + .tab_panel {
  display: block; }

.tab_header_2 {
    color: #344D67;
    font-size: 25px;
}
.contents_main_container {
    display: flex;
    margin-top: 3%;
}

.contents_location_name {
    margin-left: 10%;
}


/* Footer style */

.footer_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #747474;
    background-color: #344D67;
    padding: 0% 20%;
}

.footer_sentence_los {
    color: #747474;
}

@media (max-width: 600px) {
    .footer_container {
        display: block;
        text-align: center;
    }
}